<Template name="emptyMemo">
  <div class="col l3 m6 s12 memo-card-wrapper">
    <div class="card grey lighten-3 alt-card">
            <div class="card-image center">
            <a class="card-image-url">
                <i class="fa fa-file-text-o card-image-alt-icon" aria-hidden="true"></i>
            </a>
        　 </div>
          <div class="card-content">
            <div class="card-body">
                <a class="card-link">
                  <p class="truncate grey-text">Title</p>
                </a>
                <p class="grey-text">none</p>
                <a href="{{pathFor route='label.detail'}}" class="chip edit-btn" style="background-color:{{label.color}}">
                    
                </a>
            </div>
          </div>
        </div>
  </div>
</Template>