<template name="Header">
  <nav class="{{#if $.Session.get 'Layout'}}app-layout{{/if}}">
    <div class="nav-wrapper blue darken-3">
      <a href="{{pathFor route='memo.home'}}" class="brand-logo">{{title.name}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{> atNavButton }}</li>
      	{{#if currentUser}}
      	<li class="{{isActiveRoute 'memo.home'}}">
          <a class="{{isActiveRoute 'memo.home'}}" href="{{pathFor route='memo.home'}}">Memos</a>
        </li>
      	<li class="{{isActiveRoute 'memo.board'}}">
          <a class="{{isActiveRoute 'memo.board'}}" href="{{pathFor route='memo.board'}}">Board</a>
        </li>
      	{{/if}}
        <li class="{{isActiveRoute 'about'}}">
          <a class="{{isActiveRoute 'about'}}" href="{{pathFor route='about'}}">About</a>
        </li>
      </ul>
       <ul id="slide-out" class="side-nav  {{#if $.Session.get 'sideNav'}}sidenav-active {{else}} sidenav-inactive {{/if}}">
          {{#if currentUser}}
            {{> NewMemoModal}}
            <li class="{{isActiveRoute 'memo.home'}}">
              <a class="{{isActiveRoute 'memo.home'}}" href="{{pathFor route='memo.home'}}">Memos</a>
            </li>
            <li class="{{isActiveRoute 'memo.board'}}">
              <a class="{{isActiveRoute 'memo.board'}}" href="{{pathFor route='memo.board'}}">Board</a>
            </li>
          {{else}}
            <li>{{> atNavButton }}</li>
          {{/if}}
            <li class="{{isActiveRoute 'about'}}">
              <a class="{{isActiveRoute 'about'}}" href="{{pathFor route='about'}}">About</a>
            </li>
          {{#if currentUser}}
            <li>
              <a href="" class="waves-effect red-text logout auth-link">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a>                
            </li>
          {{/if}}
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse toggle-sidenav"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
  </nav>
</template>