<template name="Header">
<nav>
    <div class="nav-wrapper blue darken-3">
      <a href="{{pathFor route='home'}}" class="brand-logo">DevMemo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{> atNavButton }}</li>
      	{{#if currentUser}}
      	<li><a href="{{pathFor route='memo.home'}}">Memos</a></li>
      	<li><a href="{{pathFor route='memo.board'}}">Board</a></li>
      	{{/if}}
        <li><a href="{{pathFor route='about'}}">About</a></li>
      </ul>
    </div>
  </nav>
</template>