<Template name="Memo">
	<div class="col l3 m6 s12">
		<div class="card hoverable">
          {{#if provider_url}}
            <div class="memo-tooltip center truncate {{#if isHovered}}tooltip-show{{/if}}">{{provider_url}}</div>
          {{/if}}
        	  <div class="card-image center">
            <div class="expire-progress {{#if shouldExpireProgressbarShow}}show{{else}}hide{{/if}}-progress-bar">
              <div class="progress-bar progress-{{progressBarColor}}" style="width:{{expireStatus}}%"></div>
            </div>
            {{#if thumbnailUrl}}
      			<img class="card-image-url" src="{{thumbnailUrl}}">
            {{else}}
              <i class="fa fa-file-text-o card-image-alt-icon" aria-hidden="true"></i>
            {{/if}}
    		　 </div>
    		  <div class="card-content">
              {{#if isOwner}}
              	<i class="fa fa-close"></i>
              {{/if}}
      		  <div class="card-body">
  	            {{#if name}}             
                	  <p class="truncate">
      				    	{{#if faviconUrl}}
      				    		<img class="favicon" src="{{faviconUrl}}" alt="">
      				    	{{/if}}			 
                	  {{name}}
                	  	</p>
                {{else}}
                	  	<p class="grey-text">No title</p>
                {{/if}}
                	  <a href="{{pathFor route='memo.detail'}}">more</a>
                {{#if hasLabel}}
                	  <a href="{{pathFor route='label.detail'}}" class="chip edit-btn" style="background-color:{{label.color}}">
  							       {{label.name}}
                	  </a>
                {{/if}}
      		  </div>
          </div>
          <div class="card-action">
              {{#afModal title=name collection="Memos" operation="update" doc=_id fields="labelId" formId="updateMemo"}}
                <i class="fa fa-cog card-option"></i>
              {{/afModal}}
              <i class="fa fa-share-square card-option" aria-hidden="true"></i>
              <i class="fa heart {{#if shouldFavoriteHightlight}}fa-heart{{ else }}fa-heart-o{{/if}}  card-option"></i>
              <i class="fa fa-archive archive-memo card-option {{#if isMemoExpired}}memo-archived{{/if}}"></i>
          </div>
        </div>
	</div>
</Template>