<template name="SideNav">
	<header>
		<ul class="side-nav fixed grey lighten-5">
			<li class="brand-logo">
				<a href="{{pathFor route='memo.home'}}"><span>DevMemo</span></a>
			</li>
		      	{{#if currentUser}}
		      	{{> NewMemoModal}}
					<li class="{{isActiveRoute 'memo.home'}} link">
						<a href="{{pathFor route='memo.home'}}" class="waves-effect {{isActiveRoute 'memo.home'}}">
							<i class="fa fa-sticky-note"></i>
							Memos
						</a>
					</li>
					<li class="search-link">
						<a href="" class="waves-effect">
							<i class="fa fa-search"></i>
							Search
						</a>
					</li>
					<li class="label-link">
			      		<a href="" class="waves-effect">
							<i class="fa fa-tags"></i>
							Labels
						</a>
			      	</li>
					<li class="{{isActiveRoute 'memo.archive'}} link">
			      		<a href="{{pathFor route='memo.archive'}}" class="waves-effect {{isActiveRoute 'memo.archive'}}">
			      			<i class="fa fa-archive"></i>
			      			Archive
							{{#if notificationCount}}
								<span class="chip blue lighten-4">{{notificationCount}}</span>
							{{/if}}
			      		</a>
			      	</li>
					<li class="link">
			      		<a class="waves-effect red-text logout auth-link">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a>
			      	</li>
		      	{{else}}
		      		<li>
		      			<a href="{{pathFor route='atSignIn'}}" class="waves-effect auth-link">Sign In <i class="fa fa-sign-in"></i></a>
		      		</li>
		      	{{/if}}
				<li class="{{isActiveRoute 'about'}} link">
		      			<a href="{{pathFor route='about'}}" class="waves-effect">
		      				<i class="fa fa-info"></i>
		      				About
		      			</a>
		      		</li>
		</ul>
	</header>
</template>