<template name="ViewBtn">
	<div class="row">
		<div class="col view-btn-wrapper">
			{{#if $.Session.get 'ListMode'}}
				<button class="btn view-btn blue darken-3 card-view"><i class="fa fa-th-large" aria-hidden="true"></i></button>
			{{else}}
				<button class="btn view-btn blue darken-3 list-view"><i class="fa fa-list" aria-hidden="true"></i></button>
		 	{{/if}}	
		</div>
		<div class="col s2">
		    <p>
		      <input type="checkbox" class="filled-in" id="filled-in-box" {{isChecked check true}} />
		      <label for="filled-in-box">Hide Expired</label>
		    </p>
		</div>
	</div>
</template>