<template name="SingleList">
  <tr>
    <td class="list-name">
    	{{#if faviconUrl}}
    		<img class="favicon" src="{{faviconUrl}}" alt="">
    	{{/if}}
    	<a href="{{url}}">{{name}}</a><i class="fa fa-close"></i>
    </td>
    <td class="center">
 		    {{#afModal classes="waves-effect table-label-btn btn amber darken-3" title=name collection="Memos" operation="update" doc=_id fields="labelId" formId="updateMemo"}}
 		    	{{#if label.name}}
						{{label.name}}
				{{else}}
						None
				{{/if}}
			{{/afModal}}
    </td>
    <td class="right">{{moFormat createdAt 'M/D'}}</td>
  </tr>
</template>