<template name="SingleList">
    <li class=" {{#if shouldNotify}}should-notify{{/if}} collection-item list-item avatar">
      {{#if memo.thumbnailUrl}}
        <img src="{{memo.thumbnailUrl}}" alt="" class="circle">
      {{else}}
        <i class="fa fa-file circle"></i>
      {{/if}}
      <span class="title">{{memo.name}} <span class="chip" style="background-color:{{memo.label.color}}">{{memo.label.name}}</span></span>
      <p>
        {{memo.url}}
      </p>
      <a class="secondary-content"><i class="fa fa-clock-o notify-item time-{{ progressBarColor }}"></i></a>
   </li>
</template>