/* layout */
body {
display: flex;
min-height: 100vh;
flex-direction: column;
font-size: 14px;
overflow: hidden;
font-family: "Roboto", "Hiragino Kaku Gothic Pro","Noto Sans Japanese", sans-serif;
}
main {
flex: 1 0 auto;
}
.title-container{
  max-width: 1120px;
}
@media (min-width:1650px){
    .title-container{
      max-width:calc(~'1500px - 80px');
    }
}
.main-content{
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}
@media (min-width:1650px){
    .main-content{
        max-width: 1500px;
    }
}
.main-layout{
  width: 100%;
  transition: margin-left 0.25s linear;
  &.side-nav-showing{
    margin-left: 210px;
  }
}
@media (min-width: 991px) {
  .main-layout {
    padding-left: 210px;
  }
}
.main-container {
    width:calc(~'100% - 210px');
    overflow-y: auto;
    height: 100%;
    position: fixed;
}
.container{
  width: 90%;
}
@media (min-width: 992px) {
 .app-layout{
    display: none;
  }
}
.loading-wrapper{
    position: fixed;
    width: calc(~'100% - 210px');
    height: 65%;
    .center{
		margin:0 auto;
    }
}
@media (max-width: 992px){
  .main-container{
    width: 100%;
  }
  .main-content{
    padding: 0;
  }
  .loading-wrapper{
    width: 100%;
  }
  .main-container{
   height:calc(~'100% - 50px');
  }
}
.infinite-scroller{
  height: 100px;
}