#notify-content{
  margin-top:20px;
  .notify-status-indicator{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }
  .notification-tabs{
    a{
      color:#42A5F5;
      &:hover{
        color:#90caf9;
      }
    }
    .indicator{
      background-color:#42A5F5;
    }
  }
}