<template name="SearchBar">
	<div id="search-bar" class="search-nav-bar {{#if shouldSearchBarShow}}search-bar-show {{else}}search-bar-hidden{{/if}}">
		<div class="search-bar-wrapper">
			<div class="search-input-title">Search</div>
			<input id="search" type="text" name="search" placeholder="Search...">
		</div>
		<div class="search-result">
			{{#if $neq memoResultCount 0}}
				<ul class="collection">
				<div class="search-result-title">
					{{labelTitle}}
					<a href="" class="right toggle-memo-show">more</a>
				</div>
				{{#each searchedMemos}}
					{{> SearchBarItem}}
				{{/each}}
				</ul>
			{{/if}}
		</div>
		{{#if noResult}}
			<div class="not-found">
				<i class="fa fa-search"></i>
				<h4>No results found</h4>
			</div>
		{{/if}}
	</div>
</template>