<template name="SearchBarItem">
    <a href="{{url}}" class="collection-item avatar search-item search-memo-item">
    	{{#if thumbnailUrl}}
      		<img src="{{thumbnailUrl}}" alt="" class="circle">
      	{{else}}
			<i class="fa fa-file-text-o circle" aria-hidden="true"></i>
      	{{/if}}
      <span class="title search-title">
        <span class="truncate">{{name}}</span>
      </span>
      <p class="provider_url">
        {{providerUrl}}
      </p>
      <span class="secondary-content">
        <span class="chip" style="background-color:{{label.color}}">{{label.name}}</span>
      </span>
    </a>
</template>