<template name="SearchBarItem">
    <a id="memo-bar-item-{{memo._id}}" href="{{memo.url}}" class="collection-item avatar search-item search-memo-item">
      {{#if memo.thumbnailUrl}}
          <img src="{{memo.thumbnailUrl}}" alt="" class="circle"/>
      {{else}}
          <i class="fa fa-file-text-o circle" aria-hidden="true"></i>
      {{/if}}
      <span class="title search-title">
        <span class="truncate">{{memo.name}}</span>
      </span>
      <a href="{{memo.url}}" class="provider_url">
        {{providerUrl}}
      </a>
      <span class="secondary-content">
        <span class="chip" style="background-color:{{memo.label.color}}">{{memo.label.name}}</span>
      </span>
    </a>
</template>