<template name="SearchBar">
	<div id="search-bar" class="search-nav-bar {{#if shouldSearchBarShow}}search-bar-show {{else}}search-bar-hidden{{/if}}">
		<div class="search-bar-header-wrapper">
			<div class="search-input-title">{{i18n 'search.title'}}</div>
			{{#if $eq noMemos false}}
			<input id="search" type="text" name="memoSearch" placeholder="{{i18n 'search.placeholder'}}..." autocomplete="off">
			{{/if}}
		</div>
		{{#if noMemos}}
			<div class="not-found">
				<i class="fa fa-sticky-note"></i>
				<h4>{{i18n 'search.noMemosFound'}}</h4>
			</div>
		{{else}}
		<div class="search-result">
			<ul class="collection">
			<div class="search-result-title">
				{{state.labelTitle}}
				<a href="" class="right toggle-memo-show">{{i18n 'search.more'}}</a>
			</div>
			{{#each searchedMemos}}
				{{> SearchBarItem}}
			{{/each}}
			</ul>
		</div>
		{{/if}}
		{{#if noResult}}
			<div class="not-found">
				<i class="fa fa-search"></i>
				<h4>{{i18n 'search.noResultsFound'}}</h4>
			</div>
		{{/if}}
	</div>
</template>