<template name="labelBarItem">
    <li class="collection-item search-item">
      <span class="title label-bar-chip" style="background-color:{{label.color}}">
      	<span class="label-text">{{label.name}}</span>
      	<span class="counter-chip">{{label.memoCount}}</span>
      </span>
      <div class="secondary-content">
		{{#if shouldOptionShow}}
			{{#afModal classes="fa fa-pencil option-icon" title="Edit Label" collection="Label" operation="update" doc=label._id fields="name" formId="updateStatus"}}
			{{/afModal}}
			{{#afModal classes="fa fa-trash option-icon" title="Delete Label" collection="Label" operation="remove" doc=label._id fields="name" formId="deleteStatus"}}
			{{/afModal}}
		{{/if}}
      </div>
    </li>
</template>