<template name="MemoDetailModal">
  <div id="modal-card-{{memo._id}}" class="card-image">
      <a href="{{memo.url}}" class="card-url">
        {{#if memo.thumbnailUrl}}
          <img src="{{memo.thumbnailUrl}}"/>
        {{else}}
        <div class="alt-image-wrapper valign-wrapper">
            <i class="fa fa-sticky-note valign" style="color:{{state.label.color}}"></i>
        </div>
        {{/if}}
      </a>
      <span class="card-title">
        <a href="{{memo.url}}" class="card-url">
        {{#if memo.name}}
          {{memo.name}}
        {{else}}
          {{memo.url}}
        {{/if}}
        </a>
        <div class="card-action">
          {{#if isOwner}}
          <i class="fa fa-cog card-option"></i>
          {{/if}}
          <i class="fa heart {{#if favorited}}fa-heart{{ else }}fa-heart-o{{/if}}  card-option"></i>
          {{#if shouldArchiveShow}}
            <i class="fa fa-archive archive-memo card-option"></i>
          {{/if}}
        </div>
      </span>
  </div>
  <div class="card-content">
    <p>
      {{truncate}}
    </p>
      <a href="{{pathFor route='memo.detail' data=state.memo}}" class="more-detail">{{i18n 'memo.more'}}</a>
    {{#if state.label}}
    <a href="{{pathFor route='label.detail' data=labelId}}" class="chip right detail-chip" style="background:{{state.label.color}}">
        {{state.label.name}}
    </a>
    {{/if}}
  </div>
    <ul class="collection comment-collection">
      <li class="collection-item">
        <div class="comment-form-wrapper">
          <form id="add-comment">
            <input id="comments" type="text" name="comment" placeholder="Comments" autocomplete="off"/>
          </form>
          <i class="fa fa-pencil right"></i>
        </div>
      </li>
      {{#if $neq memo.commentCount 0}}
      <li class="collection-item comment-item">
        <span class="comment-show-link">
          {{memo.commentCount}} comments
          {{#if state.shouldCommentsShow}}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          {{else}}
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          {{/if}}
        </span>
      </li>
      {{/if}}
      {{#if state.shouldCommentsShow}}
        {{#each memo.comments}}
          {{> CommentItem}}
        {{/each}}
      {{/if}}
    </ul>
</template>

<template name="CommentItem">
    <li id="comment-{{_id}}" class="collection-item comment-item">
      {{#if state.shouldDeleteCommentShow}}
      <i class="fa fa-close delete-comment"></i>
      {{/if}}
      <div class="comment-wrapper">
        <strong class="comment-username">{{username}}</strong>
        <span class="grey-text comment-timestamp">
          {{moFromNow commentedAt withoutSuffix=false}}
        </span>
        <p class="comment-text">{{comment}}</p>
      </div>
    </li>
</template>