<template name="MemoDetailModal">
  <div id="modal-card-{{memo._id}}" class="card-image">
      <a href="{{memo.url}}" class="card-url">
        {{#if memo.thumbnailUrl}}
          <img src="{{memo.thumbnailUrl}}"/>
        {{else}}
        <div class="alt-image-wrapper valign-wrapper">
            <i class="fa fa-sticky-note valign" style="color:{{state.label.color}}"></i>
        </div>
        {{/if}}
      </a>
      <span class="card-title">
        <a href="{{memo.url}}" class="card-url">
        {{#if memo.name}}
          {{memo.name}}
        {{else}}
          {{memo.url}}
        {{/if}}
        </a>
        <div class="card-action">
          {{#if isOwner}}
          <i class="fa fa-cog card-option"></i>
          {{/if}}
          <i class="fa heart {{#if favorited}}fa-heart{{ else }}fa-heart-o{{/if}}  card-option"></i>
          {{#if shouldArchiveShow}}
            <i class="fa fa-archive archive-memo card-option"></i>
          {{/if}}
        </div>
      </span>
  </div>
  <div class="card-content">
    <p>
      {{truncate}}
      {{#if state.label}}
      <a href="{{pathFor route='label.detail' data=labelId}}" class="chip right detail-chip" style="background:{{state.label.color}}">
          {{state.label.name}}
      </a>
      {{/if}}
    </p>
      <a href="{{pathFor route='memo.detail' data=state.memo}}" class="more-detail">{{i18n 'memo.more'}}</a>
  </div>
    <ul class="collection comment-collection">
      <li class="collection-item">
        <div class="comment-form-wrapper">
          <form action="" id="add-comment">
            <input id="comments" type="text" name="comment" placeholder="Comments" autocomplete="off"/>
          </form>
          <i class="fa fa-pencil right"></i>
        </div>
      </li>
      {{#each memo.comments}}
        {{> CommentItem}}
      {{/each}}
    </ul>
</template>

<template name="CommentItem">
      <li class="collection-item">
        <div class="comment-wrapper">
          <strong>{{username}}:</strong>
          <span>{{comment}}</span>
        </div>
        <span class="grey-text">
          {{moFromNow commentedAt withoutSuffix=true}}
        </span>
      </li>
</template>