<template name="Modals">
	<div class="{{#if modalShow}}modal-overlay{{else}}hide-overlay{{/if}} overlay">
	</div>
	<div class="{{#if modalShow}}show{{else}}hide{{/if}}-modal-form modal-form-wrapper
			{{#if $eq formType 'AddLabel'}}
				add-label
			{{/if}}

			{{#if $eq formType 'AddMemo'}}
				add-memo
			{{/if}}

			{{#if $eq formType 'DeleteLabel'}}
				delete-label
			{{/if}}

			{{#if $eq formType 'EditLabel'}}
				edit-label
			{{/if}}

			{{#if $eq formType 'EditMemoLabel'}}
				edit-memo-label
			{{/if}}
	">
		<div class="card-panel z-depth-1 modal-card">
			<i class="fa fa-close right"></i>
			{{#if $eq formType 'AddLabel'}}
				{{> AddLabelForm}}
			{{/if}}

			{{#if $eq formType 'AddMemo'}}
				{{> AddMemoForm}}
			{{/if}}

			{{#if $eq formType 'DeleteLabel'}}
				{{> DeleteLabel}}
			{{/if}}

			{{#if $eq formType 'EditLabel'}}
				{{> EditLabel}}
			{{/if}}

			{{#if $eq formType 'EditMemoLabel'}}
				{{> EditMemoLabel}}
			{{/if}}
		</div>
	</div>
</template>