/* Modal */
.modal{
	width: 40%;
	max-height: 80%;
    .row{
        margin-bottom: 0px;
    }
}
@media (max-width: 991px) {
  .modal {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 80%;
  }
}
.modal-card{
  margin: 0 auto;
  overflow-y: scroll;
}
.color-chooser{
    display: table;
    height: 54px;
    list-style: none;
    border-collapse: separate;
    border-spacing: 10px 5px;
    margin: 0;
}
.color-chooser li{
    display: table-cell;
}
.color-select-box{
    width: 280px;
    margin: 10px auto 20px;
}
.color-chooser-color{
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    transition:all 0.3s ease;
}
.color-chooser-color .fa-check{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 1.4em;
    color: #fff
}
.modal-card .fa-close{
        font-size: 1.4em;
}
.hide-modal-form{
}
.modal-form-wrapper{
  z-index: 1500;
  position: fixed;
  margin: auto;
  left:0;
  right:0;
  padding: 0;
  transition:all 0.2s linear;
  display: block;
  max-height: 80%;
  opacity: 0;
  visibility: hidden;
  top:0;
  &.show-modal{
    visibility: visible;
    opacity: 1;
    top: 10%;
  }
}
.label-select{
  margin: 4px;
  transition:all 0.3s ease;
}
.selected-label{
  color:#fff;
}
.add-label{
  width: 330px;
}
.add-memo{
  width: 520px;
}
.delete-label{
  width: 370px;
  .delete-text{
    margin: 40px 0;
    font-size: 16px;
  }
}
.edit-label{
  width: 370px;
}
.edit-memo-label{
  width: 370px;
}
.form-title{
    font-size: 25px;
    margin: 0;
    &.edit-memo-title{
      font-size: 20px;
    }
}
.delete-label-btn{
    margin-left: -10px;
    margin-right: 10px;
}
.btn-flat{
  padding: 0 1em;
}
.modal-edit-wrapper form{
  margin-top: 15px;
}