/* Modal */
.modal{
	width: 40%;
    .row{
        margin-bottom: 0px;
    }
}
@media (max-width: 991px) {
  .modal {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 80%;
  }
}
.modal-card{
  margin: 0 auto;
  overflow-y: scroll;
}
.color-chooser{
    display: table;
    height: 54px;
    list-style: none;
    border-collapse: separate;
    border-spacing: 10px 5px;
    margin: 0;
}
.color-chooser li{
    display: table-cell;
}
.color-select-box{
    width: 280px;
    margin: 10px auto 20px;
}
.color-chooser-color{
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    transition:all 0.3s ease;
}
.color-chooser-color .fa-check{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 1.4em;
    color: #fff
}
.modal-card .fa-close{
        font-size: 1.4em;
}
.modal-form-wrapper{
  z-index: 1500;
  position: absolute;
  left:50%;
  right:0;
  padding: 0;
  transition:all 0.2s linear;
  display: block;
  opacity: 0;
  visibility: hidden;
  top:0px;
  &.show-modal{
    opacity: 1;
    visibility: visible;
    top: 50px;
  }
}
.label-select{
  margin: 4px;
  transition:all 0.3s ease;
}
.selected-label{
  color:#fff;
}
.add-label{
  width: 330px;
  margin-left: -165px;
}
.add-memo{
  width: 500px;
  margin-left: -250px;
}
.delete-label{
  width: 370px;
  margin-left: -185px;
  .delete-text{
    margin: 40px 0;
    font-size: 16px;
  }
}
.edit-label{
  width: 370px;
  margin-left: -185px;
}
.edit-memo-label{
  width: 370px;
  margin-left: -185px;
}
.memo-detail-modal{
  width: 420px;
  margin-left: -210px;
}
.form-title{
    font-size: 25px;
    margin: 0;
    &.edit-memo-title{
      font-size: 20px;
    }
}
.delete-label-btn{
    margin-left: -10px;
    margin-right: 10px;
}
.btn-flat{
  padding: 0 1em;
}
.modal-edit-wrapper form{
  margin-top: 15px;
}

.memo-detail-modal{
    .card-image{
        min-height:260px;
        max-height:300px;
        overflow:hidden;
    }
    .card-content{
        padding:10px 20px;
    }
    .card-url{
      color:#fff;
    }
    .card-action{
        padding:0;
        border-top: none;
        background: transparent;
        .fa{
            font-size:20px;
            color:#fff;
            margin-right: 5px;
            cursor:pointer;
            transition:color .2s ease;
        }
        .fa-heart{
            color:#ED4956;
        }

        .fa-cog:hover{
            color:#1565C0;
        }

        .fa-archive:hover{
            color:#FFEB3B;
        }
    }
    .alt-image-wrapper{
      text-align: center;
      width: 100%;
      height: 270px;
      .fa{
        font-size:13em;
        color:#999;
        margin:0 auto;
      }
    }
    .card-title{
        width: 100%;
        background: rgba(0,0,0,0.5);
        font-size:16px;
        padding:5px 20px !important;
    }
    .detail-chip{
      height: 28px;
      line-height: 28px;
    }
}
.comment-form-wrapper{
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    line-height: 18px;
    position:relative;
    .fa-pencil{
      position: absolute;
      right: 4px;
      top: 3px;
      font-size: 1.5em;
    }
}
.comment-collection{
  border-right: none;
  border-left: none;
  margin: 0;
  .comment-item{
    position: relative;
    padding: 7px 20px;
    .delete-comment{
      position: absolute;
      font-size: 1.3em;
      top: 5px;
      right: 7px;
    }
    .comment-timestamp{
      margin: 0 5px;
    }
    .comment-text{
      margin: 5px 0;
      line-height: 1em;
    }
  }
}
#comments{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 8px 30px 8px 10px;
    height: 2em;
    box-sizing: border-box;
    margin: 0;
}