/* Modal */
.modal{
	width: 40%;
	max-height: 80%;
    .row{
        margin-bottom: 0px;
    }
}
@media (max-width: 991px) {
  .modal {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 80%;
  }
}
