
.overlay{
	position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: block;
    transition:opacity 0.15s linear;
    &.hide-overlay{
        visibility: hidden;
    }
    &.sidebar-overlay{
        visibility: visible;
        z-index: 500;
    }
    &.modal-overlay{
        visibility: visible;
        z-index: 1000;
    }
}