/* layout */
body {
display: flex;
min-height: 100vh;
flex-direction: column;
font-size: 14px;
}
main {
flex: 1 0 auto;
}
.main-content{
	margin-top: 40px;
}
.card .fa-close{
	position: absolute;
	top: 4%;
	right: 3%;
	color: #ddd;
	cursor: pointer;
}
.fa-close{
	color: #ddd;
	cursor: pointer;
}
.fa-close:hover{
	color:#cc0000;
}
.fa-pencil{
	font-size: 0.7em;
	color: #ddd;
	cursor: pointer;
}
.fa-pencil:hover{
	color:#ffeb3b;
}
.help-block{
	color:#cc0000;
}
.card-contet{
	position: relative;
}
@media (min-width: 991px) {
  .main-layout {
    padding-left: 240px;
  }
}

/* header */
nav .brand-logo{
	padding: 0 15px;
}
@media (min-width: 991px) {
 .app-layout{
    display: none;
  }
}
/* board*/
.board-editable h4{
	color:#0d47a1;
	cursor: pointer;
}
.board-uneditable h4{
	color:#ff6f00;
}
.container {
    width: 85%;
}
/* new-memo */
.new-memo-hide{
	position: absolute;
    right: 3%;
    font-size: 2em;
    top: 5%;
}
#insertNewMemoForm{
	position: relative;
}
legend{
	font-size: 2em;
}

/*Page Title */
.page-title{
	color:#fff;
	height: 122px;
}
.page-title h3{
	line-height: 122px;
	margin:0;
}
#devmemo{
	color:#fff;
}
.brand-logo span{
	font-size: 2em;
	color:#1565C0;
}
h4{
	color:#1565C0;
}
/* Modal */
.modal{
	width: 40%;
	max-height: 80%;
}
.modal .row{
	margin-bottom: 0px;
}
@media (max-width: 991px) {
  .modal {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 80%;
  }
}

/* landing page */
.home-main{
	margin-top: 40px;
}
.home-main h1{
	margin: 0;
}
.about-content{
	margin-top: 40px;
	font-size: 18px;
}
.landing-page-section{
	padding:60px 0;
}
.landing-container{
	width: 70%;
}
.icon-block{
	padding: 0 1em;
}
/* card */
.edit-btn{
	font-size: 12px;
	height:20px;
	line-height: 20px;
	padding:0 1em;
	text-transform: none;
	position: absolute;
	right:2%;
	top:50%;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)
{
	text-transform: lowercase;
}
.memo-favicon{
	position: absolute;
    top: 18%;
    width: 7%;
    left: 7%;
}
.card-title-text{
	margin-left:1em;
}
/*board form */
.new-status{
	position: relative;
}
.status-form-hide{
	position: absolute;
	top:0;
	right: 3%;
    font-size: 1.7em;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
	background-color: #1565C0;
}
/*board */
.remove-status{
	font-size: 0.7em;
}

/*about page*/
.about{
	font-size: 16px;
}

/*footer */
footer.page-footer{
	margin-top: 0;
}

/* sideNav */
.logout{
	text-decoration: underline;
	font-weight: 400;
}
.auth-link{
	position: absolute;
    bottom: 10%;
}
.fa-sign-out{
	margin-left: 1em;
}
.sidenav-active{
	left:240px;
    z-index: 1003;
    display: block;
    opacity: 1;
	transition: left 0.2s ease-in;
}
.sidenav-inactive{
	left:0;
	transition: left 0.2s ease-in;
}
.overlay{
	position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
}
.overlay-show{
	z-index: 1002;
    display: block;
    opacity: 0.5;
    transition: all 0.3s ease-in;
}
nav .button-collapse i{
	font-size:32px;
	padding:0 0.5em;
}